/* below line will import google font */
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

html,
body {
	width: 100vw;
	height: 100vh;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Lora", serif;
}

ul,
ol {
	list-style: none;
}

/* layout */

.f-container {
	width: 100vw;
	height: 100vh;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.signup-form {
	max-width: 700px !important;
}

.signup-form label {
	padding-bottom: 10px;
}

.text-center {
	text-align: center;
}

.shadow-1 {
	box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
		rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
